// Fonts
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$font_base: Arial sans-serif;
$font_main: 'Gotu', $font_base;
$font_logo: 'Anton', $font_base;

// Size
$width: 1100px;
$margin: 8px;
$padding: 8px;
$radius: 4px;

// Colors
$primary: #537ec5;
$secondary: #a4c5c6;
$danger: #fa163f;
$success: #52de97;
$warning: #ffe75e;